---
layout: default
title: Concept
description: Destinations lets you plan and manage wayfinding systems. At any scale.
---

<header class="header-standard header">
    {% include navigation.html %}

    <div>
        <p class="heading-h4">{{page.title}}</p>
        <h1 class="">Developing a research based application concept</h1>
    </div>
</header>
<article>
<section class="section-white concept-intro">
    <div id="focus-1" class="">
        <div class="title-group">
            <p class="background-text heading-h4">Focus 01</p>
            <h2 class="section-heading text-xlarge-sofia">How might we aid designers in analyzing project sites?</h2>
        </div>
        <p class="">Wayfinding designers plot a multitude of objects and information on floor plans
            - either printed or digital - when analyzing buildings. Among those are points of interests of visitors
            entering a building for example and their routes as circulation patterns. Preliminary sign locations
            can be part of this analysis as well.
        </p>
        <p class="">Understanding 3D space is important when dealing with signs and
            messages. Intersections, visibility and lines of sight have to be considered for signs to be of use
            for visitors.
        </p>
    </div>
</section>


<section class="grid-normalize-row-height section-white grid-2 grid-2-divider">
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Decision Points</h3>
        <p class="">The structure of imported floor plans is analyzed by the tool to automatically
            find decision points on each floor. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Key Locations and Routes</h3>
        <p class="">Rooms can be selected and highlighted, their properties edited and routes
            created. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Placement Analysis</h3>
        <p class="">Along routes Destinations provides a placement analysis based on various
            factors such as decision points, visibility and visitor movement.</p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Sign Location Planning</h3>
        <p class="">A "sign location" tool lets users place signs and add them to routes.</p>
    </div>
</section>

<section class="section-white concept-intro">
    <div id="focus-2 class=">
        <div class="title-group">
            <p class="heading-h4">Focus 02</p>
            <h2 class="section-heading text-xlarge-sofia">How might we eliminate repetitive tasks and simplify management of signage
                databases?</h2>
        </div>
        <p class="">Once routes and sign locations are determined, they are entered into a
            database. This database is the central store for all information such as individual signs, their
            location, type and messages. They are then referenced on floor plans. The fact that both plan and
            database need to be kept up to date manually when the other changes, makes it prone to error and
            tedious.
        </p>
        <p class="">Messages and their content change during development and existing designs need
            to be updated. In larger projects with a lot of signs this can be time consuming.
        </p>
    </div>
</section>


<section class="grid-normalize-row-height section-white grid-3 grid-3-divider">
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Specialized Objects</h3>
        <p class="">Since Destinations anticipates change and provides specialized objects for wayfinding systems,
            every element is editable and independent from others. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Object Hierarchy</h3>
        <p class="">Objects are organized in a hierarchy and are dynamically linked. Decision points are assigned to
            routes and signs to decision points. Messages in turn are assigned to signs. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Editable Messages</h3>
        <p class="">Messages are editable and changes are carried over to every sign on which they occur.</p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Message Plugin</h3>
        <p class="">Signage designs are developed in applications like InDesign and Illustrator. A plugin makes
            messages usable in those apps as well. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Design Templating</h3>
        <p class="">Designs can be imported as templates and assigned to signs. The corresponding messages are then
            automatically inserted.</p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Export</h3>
        <p class="">All finished signs can be exported for production with one click. </p>
    </div>
</section>

<section class="section-white concept-intro">
    <div id="focus-3">
        <div class="title-group">
            <p class="heading-h4">Focus 03</p>
            <h2 class="section-heading text-xlarge-sofia">How can we use simulation to preview sign concepts before production?</h2>
        </div>
        <p class="">Signage designs go through a number of design iterations and evaluation. To
            assess concepts, they have to be prototyped as realistically as possible or placed into the future
            context.
        </p>
        <p class="">To achieve this walls are printed in original size, rooms are built with
            cardboard and a select few prototypes are built. To evaluate designs in context, they are inserted
            into renderings of buildings. Building prototypes is costly and time consuming so they cannot be
            built for every iteration. Building whole rooms with cardboard requires a lot of space.
        </p>
    </div>
</section>

<section class="grid-normalize-row-height section-white grid-2 grid-2-divider">
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">3D-Models</h3>
        <p class="">To achieve realistic simulation, 3D-Models of new buildings are imported,
            otherwise floor plans are extruded.</p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Wall Unwrapping</h3>
        <p class="">Based on available 3D-Data, walls can be unwrapped and designs placed onto
            them. </p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">Simulation</h3>
        <p class="">Buildings and designs placed in them can now be viewed directly in Destinations. Designers can
            move through the building like a visitor and evaluate lines of sight and the context around each
            sign.</p>
    </div>
    <div class="content-box-standard">
        {% include random-shapes.html%}
        <h3 class="heading-h3">VR-Extension</h3>
        <p class="">In the future the 3D-view can be extended with a VR mode. This way designs can
            not only be viewed in context but designers can experience how they appear in 3D space. </p>
    </div>
</section>
</article>
