---
title: How it Works
layout: default
---

<header class="header header-standard-bg">
    <div class="responsive-wrap">
        <div class="header-standard">
            {% include navigation.html %}
            <h1 class="heading-h2">{{page.title}}</h1>
        </div>
    </div>
</header>

<section class="section-white">
    <div class="responsive-wrap">
        <div class="statement-large">
            <p class="">Destinations integrates the complete process of designing wayfinding systems.</p>
        </div>
    </div>
</section>
<section class="section-purple">
    <div class="responsive-wrap">
    {% include useCase.html useCaseName="destinations-useCase" %}
    </div>
</section>
<section class="section-white">
    <div class="responsive-wrap">
        <div class="statement-large feature-heading">
        <p class="">Features, tailored to signage designers.</p>
        </div>
    </div>
</section>

<section class="feature-section">
    <div class="feature section-white">
        <div id="Route" class="grid-3 responsive-wrap">
        <div class="feature-picture">
            <img class="feature-img" src="assets/img/dest_visitor_route_main.png"
                 srcset="assets/img/resized/dest_visitor_route_main-2160.png 2160w, assets/img/resized/dest_visitor_route_main-1440.png 1440w, assets/img/resized/dest_visitor_route_main-720.png 720w"
                 alt="Selected route in man view, list of decision points in sidebar">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-1.svg" alt=""/>
            <h3 class="">Keep track of your visitors routes</h3>
            <p class="">Routes visualize your visitors path through a building. They are the foundation of the
                Destinations workflow and establish connections between entrances and rooms.</p>
        </div>
    </div>
    </div>

    <div class="feature section-white">
    <div id="Placement" class="feature-big grid-3 responsive-wrap">
        <div class="feature-picture">
            <img class="feature-img" src="assets/img/dest_information_routes_main.png"
                 srcset="assets/img/resized/dest_information_routes_main-2160.png 2160w, assets/img/resized/dest_information_routes_main-1440.png 1440w, assets/img/resized/dest_information_routes_main-720.png 720w"
                 alt="Application view with list of signs along a route in the sidebar.">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-3.svg" alt=""/>
            <h3 class="">Sign placement and exploration made easy</h3>
        </div>
        <div class="feature-text">
            <p class="">Automated detection of decision points makes it easy to find neccessary signage locations. It
                helps designers create routes without gaps that could confuse visitors. Signage is then linked to
                decision points and positioned on the floor plan. </p>
        </div>
        <div class="feature-picture">
            <img loading="lazy" src="./assets/img/dest_create_sign_detail.png"
                 srcset="assets/img/resized/dest_create_sign_detail-516.png 516w, assets/img/resized/dest_create_sign_detail-344.png 344w, assets/img/resized/dest_create_sign_detail-172.png 172w"
                 alt="New sign dialog box">
        </div>
    </div>
    </div>
    <div class="feature section-white">
    <div id="Database" class="feature-big grid-3 responsive-wrap">
        <div class="feature-picture">
            <img class="feature-img" src="assets/img/dest_signage_main.png"
                 srcset="assets/img/resized/dest_signage_main-2160.png 2160w, assets/img/resized/dest_signage_main-1440.png 1440w, assets/img/resized/dest_signage_main-720.png 720w"
                 alt="Application view with list of signs along a route in the sidebar.">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-3.svg" alt=""/>
            <h3 class="">Automated signage database for all your created routes and templates</h3>
        </div>
        <div class="feature-text">
            <p class="">Templates designed in graphic design software can be assigned to previously created signs. For
                better scalabillity and speed, Destinations automates inserting properties like room names and
                numbers.</p>
        </div>
        <div class="feature-picture">
            <img loading="lazy" src="./assets/img/dest_manage_sign_detail.png"
                 srcset="assets/img/resized/dest_manage_sign_detail-411.png 411w, assets/img/resized/dest_manage_sign_detail-274.png 274w, assets/img/resized/dest_manage_sign_detail-137.png 137w"
                 alt="Detail view of a sign and its editable properties">
        </div>
    </div>
    </div>
    <div class="feature section-white">
    <div id="Simulation" class="grid-3 responsive-wrap">
        <div class="feature-picture">
            <img class="feature-img" src="assets/img/dest_simulation_main.png"
                 srcset="assets/img/resized/dest_simulation_main-2160.png 2160w, assets/img/resized/dest_simulation_main-1440.png 1440w, assets/img/resized/dest_simulation_main-720.png 720w"
                 alt="Simulate wayfinding designs with a built-in 3D view of a site.">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-1.svg" alt=""/>
            <h3 class="">Simulate and test your developed signage systems in 3D</h3>
            <p class="">Designers can view and evaluate sign positions from the perspective of future visitors. This
                makes it easy to place signs wherever visitors need information to navigate.</p>
        </div>
    </div>
    </div>

</section>
