---
title: How it Works
layout: default
---

<header class="header-standard header">
    {% include navigation.html %}

    <h2 class="">{{page.title}}</h2>
</header>
<section class="section-white statement-large">
    <div class="">
        <p class="">Destinations integrates the complete process of designing wayfinding systems.</p>
    </div>
</section>
<section class="section-purple">
    {% include useCase.html useCaseName="destinations-useCase" %}
</section>
<section class="section-white statement-large feature-heading">
    <div class="">
        <p class="">Features, tailored to signage designers.</p>
    </div>
</section>
<section class="feature-section">
    <div class="feature section-white grid-3">
        <div>
            <img class="feature-img" src="assets/img/2907%20Flow%2010.png">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-1.svg" alt=""/>
            <h3 class="">Keep track of your visitors routes</h3>
            <p class="">Routes visualize your visitors path through a building. They are the foundation of the Destinations workflow and establish connections between entrances and rooms.</p>
        </div>
    </div>

    <div class="feature feature-big section-white grid-3">
        <div>
            <img class="feature-img" src="assets/img/2907%20Flow%2016.png">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-3.svg" alt=""/>
            <h3 class="">Sign placement and  exploration made easy</h3>
        </div>
        <div class="feature-text">
            <p class="">Automated detection of decision points makes it easy to find neccessary signage locations. It helps designers create routes without gaps that could confuse visitors. Signage is then linked to decision points and positioned on the floor plan. </p>
        </div>
        <div>
            <img class="feature-img" src="assets/img/new_sign.png">
        </div>
    </div>

    <div class="feature feature-big section-white grid-3">
        <div>
            <img class="feature-img" src="assets/img/2907%20Flow%2016.png">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-3.svg" alt=""/>
            <h3 class="">The signage database keeps track of everythig so you don’t have to</h3>
        </div>
        <div class="feature-text">
            <p class="">Templates designed in graphic design software can be assigned to previously created signs. For better scalabillity and speed, Destinations automates inserting properties like room names and numbers.</p>
        </div>
        <div>
            <img class="feature-img" src="assets/img/database.png">
        </div>
    </div>

    <div class="feature section-white grid-3">
        <div>
            <img class="feature-img" src="assets/img/2907%20Flow%2010.png">
        </div>
        <div class="feature-text">
            <img src="assets/img/shapes/shape-1.svg" alt=""/>
            <h3 class="">Simulation</h3>
            <p class="">Designers can view and evaluate sign positions from the perspective of future visitors. This makes it easy to place signs wherever visitors need information to navigate.</p>
        </div>
    </div></section>
