---
title: How it Works
layout: default
---

<header class="header-standard header">
    {% include navigation.html %}

    <h2 class="">{{page.title}}</h2>
</header>
<section class="section-white statement-large">
    <div class="">
        <p class="">Destinations integrates the complete process of designing wayfinding systems.</p>
    </div>
</section>
<section class="section-purple">
    {% include useCase.html useCaseName="destinations-useCase" %}
</section>
<section class="section-white statement-large">
    <div class="">
        <p class="">Features, tailored to signage designers.</p>
    </div>
</section>
