---
title: Studio
layout: default
---

<header class="header header-standard-bg">
    <div class="responsive-wrap">
        <div class="header-standard">
            {% include navigation.html %}
            <h1 class="heading-h2">{{page.title}}</h1>
        </div>
    </div>
</header>

<article>
    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">Who we are</h2>
                    </div>
                    <p class="section-p">Destinations is a young "work in progress" studio with a particular interest in digital product design and development.
                      As for now we are working in a loosely structured, self-managed arrangement towards the goal getting Destinations up and running.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-white">
        <div class="grid-2 grid-2-divider content-grid responsive-wrap">
            {% for member in site.data.team-members %}
            <div class="content-box-standard member-profile reset-padding team-members">
                <div class="member-content">

                    {% if member.profile-img %}

                    <img class="team-member-portrait" height="70" width="70" src="{{ member.profile-img}}"
                        alt="{{member.name}}" />
                    {% else %}
                    {% include random-shapes.html%}
                    {% endif %}

                    <h3 class="heading-h3">{{member.name}}</h3>
                    <p class="">{{member.profile-job | newline_to_br }}</p>
                    <p class="">{{member.profile-text | newline_to_br }}</p>
                </div>

                {% if member.links %}
                <div class="member-links">

                    {% for link in member.links %}

                    {% unless link[1] == nil %}
                        <a href="{{ link[1]}}">

                            {% if link[0] == "github-link" %}
                            {% assign href ="/assets/src/github-icon.svg" %}
                            {% elsif link[0] == "twitter-link" %}
                            {% assign href = "/assets/src/twitter-icon.svg" %}
                            {% elsif link[0] == "web-link" %}
                            {% assign href = "/assets/src/web-icon.svg" %}
                            {% elsif link[0] == "linkedin-link" %}
                            {% assign href = "/assets/src/linkedin-icon.svg" %}
                            {% endif %}

                            <img src="{{ href }}" alt="{{ link[1] }}">
                        </a>
                        {% endunless %}

                    {% endfor %}
                </div>
                {% endif %}

            </div>

            {% if forloop.last %}

            {% assign evenOdd = forloop.index | modulo: 2 %}
            {% if evenOdd != 0 %}
            <div class="content-box-standard"></div>

            {% endif %}
            {% endif %}

            {% endfor %}
        </div>

    </section>
    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="content-box-standard">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">How we work</h2>
                    </div>
                    <p class="section-p">Since the beginnig of Destinations, we have been working solely remotely using
                      digital collaboration tools. What started out of a necessity, became the regular mode
                      of work for us.<br><br>Altough we are working towards a common goal, we grant each other
                      the maximum of freedom regarding the time spent working on Destinations. Working
                      on one's own responsibilty is a key factor for each individual inside our team, while
                      also doing our best to support each other and cultivate an open feedback culture
                      within Destinations.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="content-box-standard">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">How we got here</h2>
                    </div>
                    <p class="section-p">Destinations started as the bachelor thesis by Kai Magnus and Martin in 2020 at the Hochschule
                      für Gestaltung Schwäbisch Gmünd. While the thesis was progressing, both of them became more and more enthusiastic about founding a company evolving around the softwares' concept.
                      Shortly after their graduation, Johanna joined the team and the project was picked to join the goHfG network as well as winning a goHfG award.
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>
