---
title: Studio
layout: default
---

<header class="header header-standard-bg">
    <div class="responsive-wrap">
        <div class="header-standard">
            {% include navigation.html %}
            <h1 class="heading-h2">{{page.title}}</h1>
        </div>
    </div>
</header>

<article>
    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">Who we are</h2>
                    </div>
                    <p class="section-p">Studio introduction placeholder. Normally, both your asses would be dead as
                        fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I
                        don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
                        Besides, I've already been through too much shit this morning over this case to hand it over to
                        your dumb ass.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-white">
        <div class="grid-normalize-row-height grid-2 grid-2-divider content-grid responsive-wrap">
            {% for member in site.data.team-members %}
            <div class="content-box-standard member-profile reset-padding team-members">
                <div class="member-content">

                    {% if member.profile-img %}

                    <img class="team-member-portrait" height="70" width="70" src="{{ member.profile-img}}"
                        alt="{{member.name}}" />
                    {% else %}
                    {% include random-shapes.html%}
                    {% endif %}

                    <h3 class="heading-h3">{{member.name}}</h3>
                    <p class="">{{member.profile-job | newline_to_br }}</p>
                    <p class="">{{member.profile-text | newline_to_br }}</p>
                </div>

                {% if member.links %}
                <div class="member-links">

                    {% for link in member.links %}
                    
                    {% unless link[1] == nil %}
                        <a href="{{ link[1]}}">

                            {% if link[0] == "github-link" %}
                            {% assign href ="/assets/src/github-icon.svg" %}
                            {% elsif link[0] == "twitter-link" %}
                            {% assign href = "/assets/src/twitter-icon.svg" %}
                            {% elsif link[0] == "web-link" %}
                            {% assign href = "/assets/src/web-icon.svg" %}
                            {% elsif link[0] == "linkedin-link" %}
                            {% assign href = "/assets/src/linkedin-icon.svg" %}
                            {% endif %}

                            <img src="{{ href }}" alt="{{ link[1] }}">
                        </a>
                        {% endunless %}

                    {% endfor %}
                </div>
                {% endif %}

            </div>

            {% if forloop.last %}

            {% assign evenOdd = forloop.index | modulo: 2 %}
            {% if evenOdd != 0 %}
            <div class="content-box-standard"></div>

            {% endif %}
            {% endif %}

            {% endfor %}
        </div>

    </section>
    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="content-box-standard">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">Wow we work</h2>
                    </div>
                    <p class="section-p">How we work placeholder. Normally, both your asses would be dead as
                        fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I
                        don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
                        Besides, I've already been through too much shit this morning over this case to hand it over to
                        your dumb ass.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-white">
        <div class="responsive-wrap">
            <div class="concept-intro">
                <div id="" class="content-box-standard">
                    <div class="title-group">
                        <h2 class="section-heading text-xlarge-sofia">How we got here</h2>
                    </div>
                    <p class="section-p">How we got here placeholder. Normally, both your asses would be dead as
                        fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I
                        don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.
                        Besides, I've already been through too much shit this morning over this case to hand it over to
                        your dumb ass.
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>