<footer class="section-white">
    <div class="grid-3 responsive-wrap">
    <div>
        <h1 class="heading-h4">Destinations</h1>
        <p>Software for signage planning and simulation</p>

        <div class="sitemap">
            <a href="index.html">Home</a><br>

            {% for link in site.pages %}
{% unless link.name == "404.html" or
            link.name == "main.scss" or
            link.name == "/feed.xml" or
            link.name == "index.md" or
            link.name == "privacy.html" %}

            <a href="{{ link.dir}}{{ link.path }}">{{ link.title }}</a><br>
            {%endunless%}
            {% endfor %}
        </div>
        <p>Say hi hello@destinations.com</p>
        <p>© 2020 Destinations — <a href="/privacy.html">Legal</a></p>
    </div>
    <div>
        <h1 class="heading-h4">Bachelor Thesis</h1>
        <p>B.A. Interaction Design (Spring 2020)
            University of Applied Sciences
            Schwäbisch Gmünd</p>
        <p>created by<br><a href="http://www.kaimagnus.de">Kai Magnus Müller</a> and <a href="http://www.martinwehl.de"> Martin Wehl</a></p>
        <p>supervised by<br> Prof. Marc Guntow and Prof. Daniel Utz</p>
    </div>
    <div>
        <h1 class="heading-h4">GoHfG Team</h1>
<p>Destinations is part of the <a href="https://www.hfg-gmuend.de/hochschule/gohfg"> goHfG</a> network.</p>
        <p><a href="http://www.kaimagnus.de">Kai Magnus Müller</a>, <a href="http://www.martinwehl.de"> Martin Wehl</a> and <a href="http://www.JohannaWellnitz.de"> Johanna Wellnitz</a></p>
    </div>
    </div>
</footer>
