<header class="header header-standard-bg">
    <div class="responsive-wrap">
        <div class="header-standard">
            {% include navigation.html %}
            <h1 class="heading-h2">Journal</h1>
        </div>
    </div>
</header>

<section id="swup" class="section-white transition-fade">
    <div class="grid-3 grid-2-divider responsive-wrap">

        <div id="article-list" class="article-list">

            {% for article in site.posts %}

            {% assign current_class = "" %}

            {% assign in_title = include.title_a | downcase | strip %}
            {% assign this_title = article.title | downcase | strip %}

            {% if in_title == this_title %}
            {% assign current_class = " current" %}
            {% endif %}

            <div class="article-list-item{{current_class}}">
                <a href="{{ article.url }}#article-list">
                    <p class="heading-h4">{{ article.date | date: "%B %-d, %Y"}}</p>
                    <h2 class="heading-h3 heading-article-list">{{ article.title }}</h2>
                    <!--                    <p class="">{{ article.date | date: "%-d %B %Y"}}</p>-->
                    <!--                <p class="author text-standard-sofia">{{ article.author }}</p>-->
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="article-content">

            {% assign author_name = page.author %}

            {% assign name = site.data.authors[include.author_a] %}

            {% for author in site.data.authors %}

            {% assign in_author = author.name | downcase | strip %}
            {% assign this_author = include.author_a | downcase | strip %}

            {% if this_author == in_author %}

            {% assign article_author = author.name %}
            {% assign article_author_img = author.img %}
            {% assign article_author_desc = author.description %}

            {% endif %}
            {% endfor %}

            <p class="heading-h4">{{ include.date_a | date: "%B %-d, %Y"}}</p>

            <h2 class="text-xlarge-sofia article-heading">{{ include.title_a }}</h2>
            <div class="article-metadata">
                <img class="author-img" src="{{article_author_img}}" alt="{{ article_author }} small profile">
                <div>
                    <p class="author-name text-large-sofia">{{ article_author }}</p>
                    <p class="author-desc text-large-sofia">{{ article_author_desc }}</p>
                </div>
            </div>
            {{ include.content_a }}
        </div>
    </div>
</section>
