<header class="header-standard header">
    {% include navigation.html %}

    <h1 class="">Journal</h1>
</header>

<section id="swup" class="section-white grid-3 grid-2-divider transition-fade">
    <div id="article-list" class="article-list">

        {% for article in site.posts %}

        {% assign current_class = "" %}

        {% assign in_title = include.title_a | downcase | strip %}
        {% assign this_title = article.title | downcase | strip %}

        {% if in_title == this_title %}
        {% assign current_class = " current" %}
        {% endif %}

        <div class="article-list-item{{current_class}}">
            <a href="{{ article.url }}#article-list">
                <p class="heading-h4">{{ article.date | date: "%-d %B %Y"}}</p>
                <h2 class="heading-h3 heading-article-list">{{ article.title }}</h2>
                <!--                    <p class="">{{ article.date | date: "%-d %B %Y"}}</p>-->
                <p class="author text-standard-sofia">{{ article.author }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="article-content">
        {{ include.content_a }}
    </div>

</section>
