{% if include.media == "video" %}
<figure class="article-figure">
    <video controls="controls" muted loop src="../assets/video/{{ include.file }}" alt="{{ include.alt }}">
    </video>
    <figcaption class="article-figcaption">{{ include.caption }}</figcaption>
</figure>
{% elsif include.media == "image" %}

<figure class="article-figure">
    <div class="media-wrapper">
        <img class="lightbox-source" src="/{{ include.path }}" alt="{{ include.alt }}">
    </div>

    {% if include.caption %}
    <figcaption class="article-figcaption">{{ include.caption }}</figcaption>
    {% endif %}
</figure>


{% endif %}