<div class="popup-wrapper">
    <div id="popup-success-notification" class="popup-success-notification">
        <div class="checkmark">
            <span></span>
            <span></span>
        </div>
        <p>Message sent! Thank you for your feedback</p>
    </div>
    <div id="popup-bg"></div>
    <div id="popup" class="message-popup">
        <header>
            <h3>Please leave a message, beeep…</h3>
            <button class="button-close" onclick="closeChat()" autofocus>
                <img src="/assets/src/button-close.svg" alt="X">
            </button>
        </header>

        <div class="form">
            <div class="response-wrapper" id="response-wrapper">
                <div id="response-field"><p>Oops, something went wrong but we are working on a fix. Feel free to send us
                    an <a data-address="grnz@ohvyq-qrfgvangvbaf.qr" href="" onclick="openMailer(this)">email</a> instead.</p></div>
                <button class="button-close" onclick="closeErrorMessage()" autofocus>
                    <img src="/assets/src/button-close.svg" alt="X">
                </button>
            </div>
            <form action="" id="message-form">
                <label for="email" hidden>Leave your email, if you wish to get contacted</label>
                <input id="email" type="email" name="email" placeholder="email, if you wish to hear from us">
                <label for="bodytext" hidden>Type your message here</label>
                <textarea id="bodytext" rows="4" cols="fixed" name="bodytext" placeholder="message"></textarea>

                <div class="privacy-send">
                    <input id="privacy-check" type="checkbox" autocomplete="off" onclick="privacyCheck(this)">
                    <p class="privacy-text">We will not share your message outside of our team. You will not receive any
                        messages from us
                        unrelated to your inquiry. </p>
                    <label for="privacy-check" class="privacy-text">I have read the <a href="/privacy.html">privacy
                        policy</a></label>
                    <button type="button" id="submit" class="button-s button-black" disabled onclick="submitForm();">
                        <div id="submit-background" class="submit-background"></div>
                        <span class="submit-text">Submit</span>
                        <div id="loading-spinner" class="submit-loading">
                            <span></span>
                        </div>
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
