html, body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

$border: 1px $grey-100 solid;

.header {
  height: 82vh;
  background-color: $yellow-70;
}

.header-standard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  h1 {
    margin: 0 0 36px 36px;
    width: 66%;
    line-height: 100%;
  }

  .heading-h4 {
    margin: 0 0 16px 40px;
  }
}

button {
  border-style: none;
}

//button:focus {
//  border: $yellow-70 solid 4px;
//  outline: none;
//  box-sizing: border-box;
//}
//TODO: fokus state definieren

.button {
  @include text-large-sofia;

  padding: 18px 32px;
  border-radius: 34px;
  display: inline-block;
  transition: box-shadow .3s;

  //&:hover {
  //  cursor: pointer;
  //}

  span::after {
    display: inline-block;
    //vertical-align: top;
    margin-bottom: -2px;
    margin-left: 20px;
    content: ' ';
    background-image: url("/assets/src/arrow_up_white.svg");
    width: 20px;
    height: 20px;
    color: white;
  }
}

.button-black {
  color: $color-button-text;
  background-color: $color-button-background;
}

.button-yellow {
  color: $grey-100;
  background-color: $yellow-70;

  span::after {
    background-image: url("/assets/src/arrow_up.svg");
  }

  &:hover {
    //box-shadow: #000000 0 0 20px;
  }

}

.section-yellow {
  border-top: 1px $grey-100 solid;
  background-color: $yellow-70;
}

.section-white {
  border-top: $border;
}

.section-green {
  border-top: $border;
  background-color: $green-70;
}

.section-purple {
  border-top: $border;
  background-color: $purple-70;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & > * {
    padding: 36px;
  }
}

.grid-3-divider {
  & > :nth-child(3n-2) {
    border-right: $border;
  }

  & > :nth-child(3n) {
    border-left: $border;
  }

  & > :nth-child(n+4) {
    border-top: $border;
  }
}


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > * {
    padding: 36px;
  }
}

.grid-2-divider {
  & > :nth-child(2n-1) {
    border-right: $border;
  }

  & > :nth-child(1n+3) {
    border-top: $border;
  }
}

.content-box-small {

  img {
    margin-bottom: 8px;
  }

  p:first-of-type, .heading-h4 {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.insert-section {
  min-height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;

  :first-child {
    max-width: 50%;
  }
}

.transition-fade {
  transition: opacity .1s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.statement-large {
  padding: 70px 36px 70px 36px;

  h4 {
    margin: 14px 0;
  }

  p {
    @include text-xlarge-sofia;
    margin: 0;
  }
}

.simple-video {
  display: none;
}

.use-case-container {
  padding: 100px 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .use-case-figure {
    width: 75vw;
    padding: 0;
    margin: 0;

    video {
      width: inherit;
    }

    .active {
      display: block;
    }
  }

  .use-case-selector-group {
    margin-top: 50px;
  }

  .use-case-selector {
    background-color: transparent;
    color: $grey-0;
    @include text-standard-sofia;
    margin: 0 16px;
    cursor: pointer;

    &.active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 850px) {

  .button {
    padding: 14px 24px;
  }

  .grid-3 {
    & > * {
      padding: 28px;
    }
  }

  .grid-2 {
    & > * {
      padding: 28px;
    }
  }

  .insert-section {
    padding: 0 28px;
    min-height: 140px;
  }

  .statement-large {
    padding: 50px 28px;
  }
}


@media screen and (max-width: 450px) {
  .header {
    height: 70vh;
    min-height: 450px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);

    & > * {
      padding: 8vw;
    }
  }

  .grid-3-divider {
    & > :nth-child(n) {
      border-left: none;
      border-right: none;
    }

    & > :nth-child(n+2) {
      border-top: $border;
    }
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);

    & > * {
      padding: 8vw;
    }
  }

  .grid-2-divider {
    & > :nth-child(2n-1) {
      border-right: none;
    }

    & > :nth-child(n+2) {
      border-top: $border;
    }
  }

  .button {
    padding: 16px 24px;

    span::after {
      margin-bottom: -3px;
      margin-left: 13px;
      width: 18px;
      height: 18px;
      background-size: cover;
    }
  }

  .insert-section {
    min-height: unset;
    flex-direction: column;
    align-items: flex-start;
    padding: 8vw;

    :first-child {
      margin: 0 0 1.33em 0;
      max-width: unset;
    }

    p {
      margin-bottom: 0;
    }
  }

  .statement-large {
    padding: 70px 8vw 70px 8vw;
  }

  .simple-video {
    display: block;

    width: 100%;
    padding: 8vw;
    margin: 0;

    figure {
      margin: 0;
    }
  }

  .use-case-container {
    display: none;
  }
}

