$yellow-30: #FFE7A6;
$yellow-40: #FFE38D;
$yellow-50: #FFDA74;
$yellow-60: #FFD465;
$yellow-70: #FFC949;
$yellow-80: #FFC12F;
$yellow-90: #F3B116;

$green-70: #4FCB80;

$purple-70: #8E33AE;

$grey-100: #000;
$grey-70: #606060;
$grey-10: #E7E7E7;
$grey-0: #FFF;

$color-text: $grey-100;
$color-background: $grey-0;

$color-button-background: $grey-100;
$color-button-text: $grey-0;
