.concept-intro {

  padding: 80px 45% 36px 36px;

  .title-group p {
    margin: 16px 0 50px 0;
  }

  p:not(:first-of-type) {
    margin: 14px 0 0 0;
  }
}

//TODO: merge and standardize with feature-grid-item
.content-box-standard {

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.grid-normalize-row-height {
  grid-auto-rows: 1fr;

}

@media screen and (max-width: 450px) {
  .concept-intro {
    padding: 60px 8vw 8vw 8vw;

    .title-group p {
      margin: 16px 0 50px 0;
    }
  }

  .grid-normalize-row-height {
    grid-auto-rows: unset;
  }
}
