footer {
  h4 {
    margin: 0 0 12px 0;
  }

  p {
    @include text-standard-sofia;
    color: #7E7E7E;
    margin: 0 0 20px 0;
  }

  a {
    text-decoration: underline;
  }

  p:first-of-type {
  }

  .sitemap {
    margin: 20px 0;

    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    & > :nth-child(n+2) {
      border-top: $border;
    }
  }
}
