.header-hero {
  background-color: white;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-bottom: 30px;
  }

  p {
    @include text-large-sofia;
    margin-bottom: 36px;
  }

  .hero-content {
    margin: auto 0 auto 0;
  }
}

.vision {
  padding: 95px 36px 90px 36px;
  background-color: $yellow-30;
  border-top: $border;

  .heading-h4 {
    margin: 14px 0;
  }

  .text-xlarge-sofia {
    margin: 0 0 50px 0;
    //  TODO: margin justieren
  }
}

.features-collage {
  padding: 140px 36px;


  display: grid;
  grid-template-columns: repeat(6, 1fr);

  & > :nth-child(1) {
    grid-column: 2 / span 3;
    grid-row: 1;
    z-index: 1;
    filter: brightness(120%);

  }

  & > :nth-child(2) {
    grid-column: 3 / span 3;
    grid-row: 1;
    margin-top: 40%;
    filter: brightness(120%);

  }

  & > :nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-top: 30%;
    width: 78%;
    z-index: 2;
  }

  & > :nth-child(4) {
    grid-column: 5 / -1;
    grid-row: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 30%;
    z-index: 3;

    img {
      width: 60%;
    }
  }

  & > :nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;

    img {
      width: 60%;
      margin-bottom: 20%;
      margin-left: 20%;
    }
  }

  :nth-child(6) {

  }

  img {
    //height: 100%;
    width: 100%;
    box-shadow: 0 14px 55px rgba(0, 0, 0, 0.3);
  }

}

.feature-grid {
  a::after {
    display: inline-block;
    //vertical-align: top;
    margin-bottom: -3px;
    margin-left: 20px;
    content: ' ';
    background-image: url("/assets/src/arrow_up.svg");
    width: 20px;
    height: 20px;
    color: white;
  }

}

.feature-grid-item {
  pointer-events: none;
  transition: background-color .2s;

  &:hover {
    background-color: $yellow-70;
  }

  a {
    pointer-events: auto;
  }
}

//------------------------------------
@media screen and (max-width: 850px) {
  .header-hero {
    .text-subtitle {
      margin: 10px 8vw 4vh;
    }

    h1 {
      margin-bottom: 2vh;
    }

    .hero-content {
      margin: auto 0 auto 0;
    }
  }
  .vision {
    padding: 50px 28px;
    p{
      margin: 28px 0;
    }
  }

  .features-collage {
    padding: 50px 28px;
  }
  }

@media screen and (max-width: 450px) {

  .header-hero {
    .text-subtitle {
      margin: 2vh 8vw 4vh;
    }

    h1 {
      margin-bottom: 2vh;
    }

    .hero-content {
      margin: auto 8vw 10vh;
    }
  }

  .vision {
    padding: 45px 8vw 40px 8vw;

    p {
      margin: 0 0 50px 0;
    }
  }

  .features-collage {
    padding: 100px 8vw;

    grid-template-columns: repeat(6, 1fr);

    & > :nth-child(1) {
      grid-column: 1 / span 5;
    }

    & > :nth-child(2) {
      grid-column: 2 / span 5;
      grid-row: 2;
      margin-top: 17%;
    }

    & > :nth-child(3) {
      grid-column: 5 / span 2;
      margin-top: -20%;
    }

    & > :nth-child(4) {
      grid-column: 1 / span 2;
      grid-row: 2;
      justify-content: flex-start;
      margin-top: 15%;

      img {
        margin-left: 20%;
      }
    }

    & > :nth-child(5) {
      grid-row: 2;
      z-index: 1;

      img {
        margin-bottom: -40%;
      }
    }
  }
  .feature-grid-item {
    p {
      margin-bottom: 0;
    }

    h4 {
      margin: 0.4em 0 0.8em;
    }
  }
}
