.article-list {
  padding: 0;

  //TODO: reenable if article list is longer, otherwise there will be a double border
  //& > :not(:last-child) {
  //  border-bottom: $border;
  //}

  .article-list-item {
    padding: 20px 36px 20px;
    border-bottom: $border;
  }

  .heading-h4 {
    margin: 0 0 2px 0;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 10px 0 0 0;
  }

  .author {
    display: none;
  }
}

.article-content {
  grid-column: 2 / -1;

  p {
    margin: 0 0 1em 0;
  }

  h2:not(:first-of-type) {
    @include heading-h3;
    margin-top: 2em;
  }

  .article-heading {
    margin: 0.6em 0;
  }

  .article-metadata {
    display: flex;
    //margin-top: 15px;
    margin-bottom: 4em;
  }

  .author-img {
    width: 45px;
    height: 100%;
    margin-right: 25px;
  }

  .author-name {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .author-desc {
    color: $grey-70;
  }

  blockquote {
    margin: 0 auto 0 auto;
    width: 75%;


    p {
      @include text-large-bask;
      margin: 50px 0;
    }
  }
}


.article-content > p:last-of-type {
  margin-bottom: 0;
}

.article-figure {
  margin: 40px 0;
  video,
  img {
    width: 100%;
  }

  .article-figcaption {
    @include text-standard-bask;
    text-align: center;
    margin-top: 20px;
  }
}

.current {
  background-color: $yellow-70;

  .author {
    display: block;
  }
}

@media screen and (min-width: 1700px) {
  .current {
    border-left: $border;
  }
}


@media screen and (max-width: 850px) {
  .article-list {
    grid-column: 1 / -1;
  }  
  .article-content {
    grid-column: 1 / -1;
  }  
}